html {
  scrollbar-gutter: stable;
}

body {
  font-family: var(--font-body);
  font-size: 1rem;
  color: var(--color-text);
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  line-height: 120%;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}
