.complete_page {
  height: 100vh;
  display: grid;
  place-items: center;
}

.complete-profile {
  display: grid;
  min-width: 440px;
  max-width: 30%;
  margin: 0 auto;
  align-items: center;
}

@media (max-width: 550px) {
  .complete-profile {
    padding-inline: 2rem;
  }
}
