.complete-profile {
  margin: auto 0;
}

.complete-profile form {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.complete_icon_arrow {
  height: 17px;
  width: 17px;
}

.complete-profile form button {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-top: 1rem;
}

.full-width {
  grid-column: 1 / -1;
}
